<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ post.title }}</title>
  </head>
  <body>
    <h3>{{ post.title }} - {{ post.users.username }}</h3>
    <p>{{ post.post }}</p>

    {{#if post.comments.length}}
      {{#each post.comments}}
        <h4>Comments</h4>
        <p> {{ this.comment }} </p>
      {{/each}}
    {{/if}}

    <a href="/posts">Go Back</a>
  </body>
</html>
