<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ post.title }}</title>
  </head>
  <body>
    <h3>{{ post.title }} - {{ post.users.username }}</h3>
    <p>{{ post.post }}</p>

    {{#if post.comments.length}}

      <h4>User Comments</h4>

      {{#each comments}}
        <h5>{{ this.users.username}}</h5>
        <p> {{ this.comment }} </p>
      {{/each}}
    {{/if}}


    <a href="/posts/{{ post.id }}/comment">Post new comment.</a>
    <a href="/posts">Go Back</a>
  </body>
</html>
